version: '3'

services:
  nginx:
    image: chaberb/nginx-ssl
    depends_on:
      - web
      - cdn
    ports:
      - "443:443"
    volumes:
      - ./nginx-uwsgi.conf:/etc/nginx/nginx.conf

  web:
    build: web
    image: chaberb/flask-jwt
    volumes:
      - ./web:/var/www/app
    depends_on:
      - redis

  cdn:
    image: chaberb/flask-jwt
    volumes:
      - ./cdn:/var/www/app
      - /tmp:/tmp

  redis:
    image: redis
    ports:
      - "6379:6379"
