<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Repozytorium plików</title>
    <link rel="stylesheet" type="text/css"  href="../static/css/login.css">
</head>
<body>
<h1>APP</h1>
    <form action="/logout">
        <button type="submit">Wyloguj</button>
    </form>

    <a href="localhost:5001/download/{{fid}}?token={{token}}&content_type=multipart/form-data">{{fid}}</a>



    <form action="https://cdn.company.com/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file"/>
      <input type="hidden" name="token"    value="{{token}}" />
      <input type="hidden" name="callback" value="localhost:5000/callback" />
      <input type="submit"/>
    </form>
</body>
</html>