body {
    background: linear-gradient(to right, rgba(255,253,208,1) 0%, rgba(255,255,245,1) 54%, rgba(255,253,208,1) 100%)fixed;
}

.container {
    display: grid;
    background: linear-gradient(180deg, #AAAAAA 0%, #DCDCDC 51.04%, #AAAAAA 100%);
    grid-template-columns: 3fr 2fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            ". form .";
    width: 100%;
    height: 100%;
    margin: 1.5% 0 3% 0;
}

.form {
    text-align: center;
    grid-area: form;
    color: #000000;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

.fileList {
    text-align: center;
    grid-area: form;
    color: #000000;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

.file {
    grid-area: form;
    text-align: center;
}

.title {
    background: #727272;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    color: whitesmoke;
    text-shadow: 4px 4px black;
    margin: 0 0 2.5% 0;
}